<section>
    <div class="profile-img">
        <img class="profil-img" src="./../../../assets/img/profilBildTestZwei.jpg" alt="Profilbild2">
    </div>
    <div>
        <div class="text-content-with-some-imges">
            <h2 class="first-h2">Why me</h2>
            <span class="text-for-why-me">
                I am motivated to continuously learn new technologies and develop myself. <br>
                My ability to solve complex problems and my passion for programming <br>
                make me a valuable member of your team.
            </span>
        </div>
        <div>
            <div class="second-h2-and-location">
                <h2 class="seconde-h2">I am</h2>
                <div class="location-text">
                    <img class="img-for-why-me-part" src="./../../../assets/img/location.png" alt="location">
                    <span class="text-for-why-me">
                        located <br> in Potsdam
                    </span>
                </div>
            </div>
                <div class="arrow-down">
                    <img src="./../../../assets/img/arrow-show-down-right.png" alt="arrow-down">
                </div>
            <div class="arrows-and-text">
                <div class="pc-img-and-text-for-remote">
                    <div class="pc-img-and-arrow-with-curve">
                        <img src="./../../../assets/img/icon-remote-two-bars.png" alt="Pc-for-remote">
                        <div>
                            <span class="text-for-why-me">
                                open to <br> work remote
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="./../../../assets/img/arrow-down-with-loop.png" alt="arrow-down-with-loop">
                </div>
            </div>
            <div class="lets-talk-container">
                <p>
                    Let´s talk
                </p>
            </div>
        </div>
    </div>
</section>