<section>
    <div class="profile-img">
        <img src="" alt="Profilbild2">
    </div>
    <div>
        <div>
            <h2>Why me</h2>
            <span class="text-for-why-me">
                text will follow
            </span>
        </div>
        <div>
            <div>
                <h2>I am</h2>
            </div>
            <div>
                <img src="" alt="location">
                <span class="text-for-why-me">
                    located in Potsdam
                </span>
            </div>
            <div>
                <div>
                    <img src="" alt="arrow-down">
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="Pc-for-remote">
                    <span class="text-for-why-me">
                        open to work remote
                    </span>
                    <img src="" alt="arrow-up">
                </div>
                <div>
                    <img src="" alt="arrow-down-with-curve">
                </div>
            </div>
            <div>
                <p>
                    Let´s talk
                </p>
            </div>
        </div>
    </div>
</section>