<section>
    <h2>Need a teamplayer? Here what my colleagues said about me</h2>
    <div class="h3-and-reference">
        <img src="./assets/img/arrow-far-right.png" alt="arrow-far-right">
        <div>
            <h3>Can Oeter</h3>
            <span>Ich hatte das Vergnügen, mit Ben Dei an den Projekten Kochwelt und<br> Join Kanban zusammenzuarbeiten.
                <br> Er hat seine Aufgaben stets zuverlässig und termingerecht ausgeführt,<br>
                wobei besonders seine strukturierte Arbeitsweise hervorstach. <br> Insgesamt war die Zusammenarbeit angenehm
                und hat maßgeblich zum<br> Erfolg der jeweiligen Projekte beigetragen.
            </span>
        </div>
        <div>
            <h3>Peter Wolf</h3>
            <span>
                Ben war während unserer Gruppenarbeit ein wissbegieriger und<br> netter Teamkollege,
                mit dem es Spaß gemacht hat, die Lösungen für Probleme<br> zu ergründen, um das Projekt <br>
                erfolgreich abzuschließen.
            </span>
        </div>
    </div>
</section>
