<section>
    <div>
        <h2>My Projects</h2>
    </div>
    <div>
        <img src="" alt="image of join">
        <div>
            <div>
                <h3>Join</h3>
            </div>
            <div>
                <span>Tools</span>
            </div>
            <div>
                <span>Text</span>
            </div>
            <div>
                <span>Github</span>
                <span>Live Test</span>
            </div>
        </div>
    </div>
    <div>
        <img class="different-direction" src="" alt="image of Pollo Loco">
        <div>
            <div>
                <h3>El Pollo Loco</h3>
            </div>
            <div>
                <span>Tools</span>
            </div>
            <div>
                <span>Text</span>
            </div>
            <div>
                <span>Github</span>
                <span>Live Test</span>
            </div>
        </div>
    </div>
    <div>
        <img src="" alt="image of Pokedex">
        <div>
            <div>
                <h3>Pokedex</h3>
            </div>
            <div>
                <span>Tools</span>
            </div>
            <div>
                <span>Text</span>
            </div>
            <div>
                <span>Github</span>
                <span>Live Test</span>
            </div>
        </div>
    </div>
</section>
