section {
    background-color: #14084F;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #02f4bf;
    font-family: 'Roboto Mono';
    height: 100vh;
    gap: 48px;
    h2 {
        color: #E15544;
        font-weight: 500;
        font-size: 54px;
    }
    h3 {
        font-size: 48px;
        font-weight: 700;
    }
    span {
        font-size: 18px;
        font-weight: 400;
    }
}

.different-direction{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: end;
    padding-right: 750px;
    gap: 32px;
    img {
        height: 220px;
        width: 360px
    }
} 

.one-direction{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 750px;
    gap: 32px;
    img {
        height: 220px;
        width: 360px
    }
}

.img-poke {
    width: 360px;
    height: 147px;
}