section {
    background-color: #14084F;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #02f4bf;
    font-family: 'Roboto Mono';
    height: 100%;
    gap: 48px;
    h2 {
        color: #E15544;
        font-weight: 500;
        font-size: 54px;
        margin-bottom: 32px;
    }
    h3 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 32px;
    }
    span {
        font-size: 18px;
        font-weight: 400;
    }
}

.different-direction{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: end;
    padding-right: 800px;
    gap: 48px;
    img {
        height: 371px;
        width: 588px
    }
} 

.one-direction{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 800px;
    gap: 48px;
    img {
        height: 371px;
        width: 588px
    }
}

.img-poke {
    height: 371px;
    width: 588px;
}