<section class="profile-section">
    <div class="contact-and-arrow-h1andh2">
        <div class="contact-me-rotate">
            <p class="contact-me">CONTACT ME</p>
            <div>
                <img class="arrow-down" src="./../../assets/img/arrow-straight-down-red.png" alt="">
            </div>
        </div>
        
        <div>
            <h2>FRONTEND DEVELOPER</h2>
            <h1>Ben Dei</h1>
        </div>
    </div>
    <div class="profile-image-container">
        <p class="section-text">
            hier ProfilBild
            <img src="" alt="Profilbild">
        </p>
    </div>
</section>
