<section>
    <h2>My Skills</h2>
    <div>
        <img src="./../../../assets/img/angular-symbol.png" alt="angular-symbol">
        <img src="./../../../assets/img/type-script-symbol.png" alt="type-script-symbol">
        <img src="./../../../assets/img/js-symbol.png" alt="javascript-symbol">
        <img src="./../../../assets/img/css-symbol.png" alt="css-symbol">
        <img src="./../../../assets/img/html-symbol.png" alt="html-symbol">
        <div class="img-with-text">
            <img src="./../../../assets/img/challenge-me.png" alt="challang-me-symbole">
            <div class="d-none">
                <p>I am always happy <br> to learn new technologies, <br>
                    just tell me what you <br> need.</p>
            </div>
        </div>
    </div>
</section>
