<section>
    <h2>My Skills</h2>

    <div class="icons-and-icon-with-hidden-text">
        <div class="icons-without-text">
            @for (skillIcon of skillIcons; track $index) {
                <img src="{{ skillIcon.path }}" alt="">
            }
        </div>

        <div class="img-with-text">
            <img src="./assets/img/challenge-me.png" alt="challang-me-symbol">
            <div class="d-none">
                <p>I am always happy <br> to learn new technologies, <br>
                    just tell me what you <br> need.</p>
            </div>
        </div>
    </div>
        
    
</section>
