<header>
    <div class="navbar-links">
        <div>
            <img class="profil-insignia-image" src="" alt="">
        </div>
        <a href=""><p class="link-text">Why me</p></a>
        <a href=""><p class="link-text">Skills</p></a>
        <a href=""><p class="link-text">Projects</p></a>
        <a href=""><p class="link-text">Contact</p></a>
    </div>
    <div class="navbar-language">
        <a href=""><p class="link-text">DE</p></a>
        <p>|</p>
        <a href=""><p class="link-text">EN</p></a>
    </div>
</header>