<footer>
    <img src="" alt="logo">
    <div class="img-name-legal-notice-privacy-policy">
        <img src="./assets/img/copyright-symbol.png" alt="copyright-symbol">
        <span class="name-legal-notice-privacy-policy">
            <h2>Ben Dei 2024</h2>
            <div>
                <span>Legal notice</span>
                <span>Privacy policy</span>
            </div>
        </span>
    </div>
    <div class="links-to-sites">
        <img src="./assets/img/github-red.png" alt="github-symbol">
        <img src="./assets/img/icon-email-red.png" alt="Email-symbol">
        <img src="./assets/img/linkedIn-symbol-red.png" alt="LinkedIn-symbol">
    </div>
</footer>